.box {
    float: left;
    margin-right: 2%;
    background:rgba(230, 230, 230, 0.87);
    box-sizing:content-box;
    display: flexbox;
    width: 400px;
    height: 400px;
}

.infobox{
    float: left;
    background:rgba(230, 230, 230, 0.87);
    box-sizing:content-box;
    display: flexbox;
    width: 1302px;
    height: 400px;
}

.header1{
    color: black;
    text-align: center;
}

#title{
    color: white;
    padding: 25px;
    background: black;
    font-size: 30px;
}

#image{
    width: 100px;
    height: 100px;
}

#loan{
    background-color: aquamarine;
    width: 300px;
    height: 40px;
}

#bank{
    background-color: rgb(104, 163, 250);
    width: 110px;
    height: 40px;
}

#work{
    background-color: yellow;
    width: 110px;
    height: 40px;
}

#secret{
    background-color: rgb(255, 110, 53);
    width: 110px;
    height: 40px;
}

#buy{
    background-color: rgb(193, 128, 255);
    width: 300px;
    height: 40px;
}